.header{
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
  margin-top: 50px;
  text-align: center;
}

.body {
  margin-top: 2%;
  margin-right: 5%;
  margin-left: 5%;
}

.form {
  padding: 2%
}

.buttons {
  width:20%;
}
