<div class="header">
  <h2>Exercício 4 - Soma dos múltiplos de 5 ou 3</h2>
</div>
<div class="body">
  <mat-card style="width: 50%; left: 25%;">
    <div class="form form-group">
      <label for="vetor">Informe um numero</label>
      <input type="number" [(ngModel)]="numero" class="form-control" id="vetor" placeholder="Informe um número">
    </div>

    <div class="buttons row">
      <div align="center">
        <button (click)="calcularMultiplos()" pButton pRipple type="button" label="Calcular Multiplos" class="p-button-raised  p-button-secondary"></button>
      </div>
    </div>

    <div class="row" align="center" style="margin-top: 3%">
        <h2><b>Resultado:</b> <span class="resultado">{{resultado}}</span></h2>
    </div>

    <div class="row">
      <button [routerLink]="['']" pButton pRipple type="button" label="Voltar para o Menu" class="p-button-text"></button>
    </div>
  </mat-card>
</div>
